header,
footer {
  background-color: #ff69b4;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  position: relative;
}

footer {
  padding: 10px;
}

header h1 {
  font-size: 3rem;
  text-shadow: 2px 2px #ffa500;
}

nav {
  background-color: #f4bbd3;
}

.nav.justify-content-center .nav-item .nav-link {
  color: white !important;
  font-weight: bolder !important;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.nav.justify-content-center .nav-item .nav-link:hover {
  color: #ff69b4 !important;
}

.kepgaleria {
  display: flex;
  flex-wrap: wrap;
}

div.card {
  margin: 4px;
}

img.card-img-top {
  background-size: cover;
  height: 170px;
}

button.gomb {
  background-color: #ff66b2;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  border: none;
  transition: background-color 0.3s ease;
}

button.gomb:hover {
  background-color: #ff3385;
}

.sorok img{
  max-width: 100px;
  max-height: 50px;
  padding: 0;
  margin: 0;
}

.sorok button{
  max-height: 50px;
  font-size: small;
}
/* 
.inaktiv img{
  width: 20px;
  height: 25px;
  
}

.inaktiv .gomb{
  max-width: 50px;

} */

.cart {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.cart-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.cart-content {
  flex-grow: 1;
}

.cart-text {
  font-size: 16px;
  margin: 0;
}

.delete-btn {
  background-color: #ff66b2;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #ff3385;
}
